extends layout

block content

	section.dashboard
		article.widget
			.content
				h3 Welcome to IO66
				p We are a passionate community of coders who live in the coastal East Sussex area, looking to organize meetups, talks, and hacks.

		article.widget#github
			.content
				h3 Git Commits
				ul.list.commits

		article.widget#twitter
			.content
				h3 Tweets
				a(class="twitter-timeline",width="400",height="300",data-chrome="nofooter noscrollbar noborders noheader transparent",data-dnt="true",href="https://twitter.com/io66org",data-widget-id="359018474971987969") Tweets by io66org
				script(src="/javascripts/twitter.js")

		article.widget#events
			.content
				h3 Events
				ul
					li.event
						h4 Thursday, August 1st, 8:30pm
						h5 Dragon Bar

					li.event
						h4 Thursday, August 15th, 8:30pm
						h5 Dragon Bar

						
		article.widget#events
			.content
				h3 Members
				ul
					li.member
						h4 Jason Ellis
						h5
							a(href="http://dec0de.com/") http://dec0de.com/						

					li.member
						h4 Max Irwin
						h5
							a(href="http://binarymax.com/") http://binarymax.com/													