section.nav
	nav
		ul.menu
			li.logo 
				h1
					a(href="/")
						img(src="/images/logo_1.png")
						
			li 
				a(href="/events") Events
			li 
				a(href="/about") About
			li 
				a(href="/members") Members
			li 
				a(href="/contact") Contact Us