/*css reset and element defaults*/
body { font-family: Helvetica, Arial, sans-serif; font-style: normal; font-variant: normal; background-color: #b6c6d6; color:#333333; margin:0px; padding:0px; height:100%; }
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
ul { list-style-type:none; padding:0; margin-left:0; }
ol { list-style-type:decimal; padding:0; margin-left:0; }
a  { color:#b6c6d6; font-weight: normal; font-size:20px; font-weight: bold; }
a:hover { color:#eee; text-decoration:none; font-weight: bold; }
a:visited { color:#eee; }
img{ border:0px; }

.main { min-height:1700px; max-height:1700px; height:1700px; min-width:700px; }

/*menu*/
.side { float:left; border:5px solid #b6c6d6; margin-top:10px; margin-right:10px; }
.nav  { background-color:rgba(50,50,50,0.6); min-height:1700px; width:180px; margin:0px; border:1px solid #ffffff; border: 1px solid #ffffff; padding:0px; }
.nav  { -moz-transition:background-color 1s; -webkit-transition:background-color 1s; -o-transition:background-color 1s;transition:background-color 1s; }
.nav:hover { background-color: rgba(50,50,50,1.0); }
.menu > li { color:#ddd; min-width:200px; width:200px; margin-left:20px; margin-top:25px; }
.menu > li > h1 { margin:0px; }
.menu > li > h2 { margin:0px; }
.menu > li > h1 > a { text-decoration:none; font-size:32px; margin-top:0px;}
.menu > .logo { margin:5px; }

/*meat*/
.dashboard { width:100%; }
.widget  { float:left; margin:10px; border:5px solid #b6c6d6; color:#ffffff; }
.content { width:400px; height:300px; border:1px solid #ffffff; background-color: rgba(50,50,50,0.6); padding-left: 20px; padding-right: 20px; }
.content { -moz-transition:background-color 1s; -webkit-transition:background-color 1s; -o-transition:background-color 1s;transition:background-color 1s; }
.content:hover { background-color: rgba(50,50,50,1.0); }
.list > li > a { font-size:14px; }

.event { margin: 5px; margin-bottom:20px; }
.event > h4 { margin:2px; }
.event > h5 { margin:2px; }

.member { margin: 5px; margin-bottom:20px; }
.member > h4 { margin:2px; }
.member > h5 { margin:2px; }
.member > h5 > a { font-size:14px; }